@keyframes parpadeo{
  0%{
    opacity: 100%;
  }
  40%{
    opacity: 10%;
  }
  47%{
    opacity: 10%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes intro{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}