@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');
@import '_animations.scss';
body{
    font-family: 'DotGothic16', sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    'gamespace';
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    height: 100vh;
    #gamespace{
        grid-area: gamespace;
        height: 640px;
        width: 960px;
        background-color: #000000;
        h1{
            cursor: default;
            position: relative;
            font-family: 'Press Start 2P', cursive;
            color: #ffffff;
            font-size: 24px;
            padding: 305px 0px;
            margin: 0;
            text-align: center;
            animation: parpadeo 5s infinite;
        }
        #canvas, .text{
            animation: intro 2s both;
        }
        #containerText{
            width: 890px;
            height: 110px;
            position: relative;
            left: 35px;
            top: -190px;
            .text {
                height: 100%;
                width: 100%;
                cursor: default;
                font-size: 24px;
                font-family: 'Press Start 2P', cursive;
                overflow: hidden;
                position: absolute;
                z-index: 2;
            }
        }
        .frame{
            position: absolute;
            top: -10px;
            left: -15px;
            z-index: 1;
            border-radius: 25px;
        }
        .arrowRight{
            position: absolute;
            top: -110px;
            left: 600px;
            z-index: 2;
        }
    }
}

